html, body
  width: 100%
  background-color: #ddefef
#main_container
  clear: both
  max-width: 50%
  margin:
    left: auto
    right: auto
a
  color: #000000

#lists
  float: left
#exercises_group
  float: right
  width: 130px

#footer
  clear: both

